include LICENSE.txt
recursive-include aldryn_gallery/boilerplates *
recursive-include aldryn_gallery/locale *
recursive-include aldryn_gallery/migrations *
recursive-include aldryn_gallery/templates *
recursive-exclude * *.pyc
